*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    border: 0 ;
}

.girdContainer{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5 px;
    grid-template-areas: 
    "um um dois"
    "tres quatro dois" ;


}

.gridItem{
    border: 1px solid;
    background-color: brown;
}


.um{
    grid-area: um;

}

.dois{
    grid-area: dois;
}

.tres {
    grid-area: tres;
}

.quatro {
    grid-area: quatro;
}

.cinco{
    grid-area: cinco;
}

.seis{
    grid-area: seis;
}