*{
    margin: 0;
}

.card{
    border: 2px black solid;
    border-radius: 10px;
    transition-duration: 0.3s;

    &:hover{
        transform: scale(1.1);
    }

    .card-body{
        border-radius: 10px;
    }

    .card-img-top{
        border-radius: 8px;
    }  
}


.botao{
    text-align: center;

    .btn{
        width: 50%;
        border: 2px solid;
        font-weight: 500;
    }
    
}

.itens{
    text-align: center;
    font-weight: 900;
    padding: 1rem;
    margin-top: 1rem;
}

footer{

    height: 1fr;
    background-color: black;
    color: aliceblue;
}

